

    <!DOCTYPE html>
    <html lang="en">

        <head></head>
        <body id="page-top" data-target=".navbar-fixed-top" data-spy="scroll">
            <h1>

            AccessibleSF

            </h1>
            <h3>

            Providing accessibility for everyone

            </h3>
            <!--

             Collect the nav links, forms, and other content f…

            -->
            <div class="row"></div>
            <!--

             React SCRIPTS

            -->
            <script src="https://fb.me/react-dom-0.14.6.min.js"></script>
            <script src="https://fb.me/react-dom-0.14.6.min.js"></script>
            <script src="js/app.js" type="text/javascript"></script>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDkvphlba9OU1smaJQAChDKE9cUxvA-lQ4&callback=initMap" defer="" async=""></script>
            <footer></footer>
            <!--

             jQuery

            -->
            <script src="js/jquery.js"></script>
            <!--

             Bootstrap Core JavaScript

            -->
            <script src="js/bootstrap.min.js"></script>
            <!--

             Plugin JavaScript

            -->
            <script src="js/jquery.easing.min.js"></script>
            <!--

             Google Maps API Key - Use your own API key to ena…

            -->
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false" type="text/javascript"></script>
            <!--

             Custom Theme JavaScript

            -->
            <script src="js/grayscale.js"></script>
        </body>
    </html>
